APP_NAME="Order Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8084

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=saas_orders
DB_USERNAME=root
DB_PASSWORD=rootpassword

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MESSAGE_BROKER_DRIVER=rabbitmq
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASS=password
RABBITMQ_VHOST=/

INVENTORY_SERVICE_URL=http://inventory-service:8083
AUTH_SERVICE_URL=http://auth-service:8081
SAGA_SERVICE_URL=http://saga-orchestrator:8086
